body{color:black }
  head{color:rgba(255, 255, 255, 0.74)}
h1{color: darkorchid;}
main {width: 100px; height: 100px; 
    background: #fc0; 
    border: 3px solid #fff; 
    border-radius: 10px; 
    display: inline-block;}